h1 {
    background-color:#54514D;
    color: #fff;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
.titleHome {
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  
.Home {
    flex: 1;
    background-color:rgb(255, 205, 0);
    color: #fff;
  }


.basDePage{
    max-width: 100%;
    height: auto;
    margin-top: 1%;
}

.homeCaseH{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4%;
  margin: 6%;
}

.homeCaseB{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 6%;
}

section {
  width : 20rem;
  height: 10rem;
}
/* Faire un @media pour la section*/