h1 {
    background-color: #242424;
    color: #fff;
    flex: 1;
    padding-top: 2vh;
  }
  
.titleHome {
    padding-top: 2vh;
  }
  
.Home {
    flex: 1;
    background-color: #242424;
    color: #fff;
  }


.basDePage{
    max-width: 100%;
    height: auto;
    margin-top: 1%;
}