.viewSite1{
    display: block;
    margin:0;
    width: 45%;
}
.viewSite2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}


.cardSite{
    border: solid gray;
    margin: 3rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.descriptSite1{
  font-style: italic;
  margin-top: 2em;
}
.descriptSite{
  font-style: italic;
}

.textSite{
  margin-top: 4em;
}

.nameSite{
    text-align: center ;
    font-weight: 900;
}

.buttonSite{
    background-color: rgb(31, 31, 31);
    border: solid gray;
    color: white;
    padding: 1%;
    
}
.wrap {
    height: 140%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonSite {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #ffffff;
    background: #3d3d3d;
  background: linear-gradient(90deg, rgb(85, 85, 85) 0%, rgb(92, 92, 92) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(31, 31, 31, 0.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .buttonSite::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #ffffff;
    box-shadow: 0 0 60px rgba(46, 46, 46, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .buttonSite:hover, .button:focus {
    color: #ffffff;
    transform: translateY(-6px);
  }
  
  .buttonSite:hover::before, .buttonSite:focus::before {
    opacity: 1;
  }
  
  .buttonSite::after {
    content: '';
    width: 10rem; height: 10rem;
    border-radius: 100%;
    border: 1em solid #313131;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .buttonSite:hover::after, .buttonSite:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 3rem;
      height: 3rem;
      opacity: 1;
    }
    100% {
      width: 20rem;
      height: 20rem;
      opacity: 0;
    }
  }