.NavbarContent {
    display: flex;
    align-items: baseline;
    background-color: #fff !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .NavbarTitle {
    list-style: none;
    font-size: 1.7rem;
    padding-right: 1vh;
    color: #54514D !important;
  }
  
  .NavbarLink {
    font-size: 1.2rem;
    padding: 1vh;
    color: #54514D;
  }
  
  .NavbarTitle:hover {
    color: #54514D !important;
  }
  
  .NavbarLink:hover {
    color: #54514D;
  }
  
  .navbar-collapse {
    display: flex;
  }
  
.test{
  margin: auto;
}